@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    /* background-color: black; */
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

/* Grid Padre */
.grid__container{
    display: grid; /* Iniciamos el Grid */
    grid-template-areas:
    "misidebar"
    "mifilter"
    "migaleria"
    "mifooter"
    ;
}

/* Grid Item Sidebar */
.sidebar{
    grid-area: misidebar; /* grid-template-areas */
    background-color: #11589c;
    padding: 10px 16px;
}

.sidebar__box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.sidebar__logo h1{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: white;
}

.sidebar__logo i{
    margin-right: 10px;
}

.sidebar__burger a{
    color: white;
    font-size: 1.5em;
}

.sidebar__menu{
    display: none;  
}

.sidebar__footer{
    display: none;
}
.sidebar__copyright{
    display: none;
}

/* Grid Item Filter */

.filter{
    grid-area: mifilter;
}

.filter__box a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 10px;

}

/* Grid Item Galeria */

.main{
    grid-area: migaleria;
    background-color: grey;
}

/* Grid Container Galeria */
.main__galeria{
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 1fr;
    gap: 10px;
    min-height: 100vh;;
    padding: 10px;
}

/* Grid Item Galeria */
.main__galeria__item{
    /* background-color: yellow; */
    /* outline: 1px solid black; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    -webkit-box-shadow: 3px 3px 26px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 3px 3px 26px 0px rgba(0,0,0,0.30);
    box-shadow: 3px 3px 26px 0px rgba(0,0,0,0.30);
}

.galeria__item__img{
    width: 100%;
    display: block; /* quita borde a imágenes */
    max-width: 500px; /* ancho máximo no rebasa los 500px */
    margin: 0 auto; /* centra imagen horizontalmente */
}

.galeria__item__titulo{
    color: #11589c;
}

.galeria__item__parrafo{
    color: gray;
}

.galeria__item__boton{
    background-color: #11589c;
    color: white;
    text-decoration: none;
    padding: 1em 5em;
    border-radius: 1em;

    align-self: center; /* las dimensiones las da el padding del CTA */
}

.footer{
    grid-area: mifooter;
    /* background-color: red; */
}

.footer__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #063070;
    padding: 10px 0;
    gap:10px;
}

.footer__box i{
    margin-right: 10px;
}

.footer__box a{
    color: white;
    font-size: 1.5em;
}

.footer__copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#063070;
    padding: 10px;
    color: white;
}

.bullet__box{
    /* background-color: yellow; */
    padding: 30px 10px;
}

.bullet__box ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.bullet__box ul a{
    text-decoration: none;
    color: #11589c;
}

.bullet__box ul a:hover{
    background-color: #11589c;
    color: white;
}

.bullet__box ul li{
    border: 1px solid grey;
    padding: 10px;
}
    

/* Sobre los 576 pixeles */
@media (min-width:576px) {
    /* body{
        background-color: peru; 
    }
        */

    /* Grid Padre */
    .grid__container{
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
        "misidebar mifilter mifilter mifilter mifilter mifilter"
        "misidebar migaleria migaleria migaleria migaleria migaleria"
        "misidebar mifooter mifooter mifooter mifooter mifooter"
    ;

    }
    
    .sidebar{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        min-width: 200px;
        background-color: #11589c;
        padding: 0;
    }
    .sidebar__box{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        /* outline: 1px solid white; */
    }

    .sidebar__box p{
        text-align: center;
        color: white;
        font-size: .8rem;
    }

    h1{
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        color: white;
    }

    .sidebar__burger{
        display: none;
    }
    
    .sidebar__menu{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        height: 100vh;
    }

    .sidebar__menu a{
        color: white;
        margin: 5px;
        text-decoration: none;
        padding: 10px 40px;
        text-align: center;
    }

    .sidebar__footer{
        display: flex;
        justify-content: center;
        align-content: flex-end;
        width: 100%;
        background-color: #063070;
        padding: 10px 0;
        gap:10px;
    }

    .sidebar__footer i{
        margin-right: 10px;
    }
    
    .sidebar__footer a{
        color: white;
        font-size: 1.5em;
    }

    .sidebar__copyright{
        display: flex;
        align-content: flex-end;
        background-color:#063070;
        padding: 10px;
    }

    .main__galeria{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .footer{
        display: none;
    }
    
}

/* Sobre los 992 pixeles */
@media (min-width:992px) {
    /* body{
        background-color: green; 
    }
        */
    .main__galeria{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

}